* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  flex: 0 1;
  padding: 0.75em;
  border-bottom: 1px black solid;
  gap: 15px;
}

#terminal {
  display: flex;
  flex: 1 0;
  align-items: center;
  justify-content: center;
}

#fb, canvas {
  border: 1px black solid;
  transform: scale(3,3);
}

.info {
  justify-self: right;
}